:root {
--font-primary: font-family:'Roboto',sans-serif;
--font-secondary:"Raleway",sans-serif;
--font-color-primary:#757575;
--font-color-secondary:#212121;
--font-color-tertiary:#2196F3;
--font-color-quaternary:#FFFFFF;
--background-color-primary:#2F303A;
--background-color-secondary:#F5F4FA;
}

body{
font-family: var(--font-primary);
color:var(--font-color-primary);
}

/* *********   HEADER  ********************/
.header-link{
font-family: var(--font-secondary);
font-size: 26px;
line-height: 1.192;
color: var(--font-color-tertiary);
text-decoration: none;
}
.studio-color{
    color: var(--font-color-secondary);
}
.header-link .studio-color:hover,
.header-link .studio-color:focus,
.navigation-links:hover,
.navigation-links:focus,
.contact-links:hover,
.contact-links:focus{
    color: var(--font-color-tertiary);
}
.navigation-links {
font-weight: 500;
font-size: 14px;
line-height: 1.142;
color:var(--font-color-secondary);
text-decoration: none; 
}
.contact-links{
font-weight: 500;
font-size: 14px;
line-height: 1.142;
color: var(--font-color-primary);
text-decoration: none;
}
/* *********MAIN ********************/

.studio-block{
background-color: var(--background-color-primary);
}
.studio-title{
font-size: 44px;
line-height: 1.363;
color:var(--font-color-quaternary);
}
.studio-button{
font-weight: 700;
font-size: 16px;
line-height: 1.875;
color: var(--font-color-quaternary);
background-color: var(--font-color-tertiary);
}
.strenghts-list-title{
font-weight: 700;
font-size: 14px;
line-height: 1.142;
color: var(--font-color-secondary);
}
.strenghts-list-description{
font-weight: 400;
font-size: 14px;
line-height: 1.714;
}